*
{
    margin:0;
    padding:0;
}
table
{
    width: 400px;
    height: 400px;
    background-color: darkgray;
    font-style:bold;
}
table,tr,td,th{
    border: 1px solid yellow;
    text-align: center;
}